.floor {
  width: 15rem;
}

.floor-elevator {
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 1rem;
  border: 2px solid;
  border-color: hsl(--clr-dark);
  background-color: hsl(43 12% 60%);
}

.direction-buttons {
  --gap: 0.25rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
