.elevatorFlex {
  display: flex;
  grid-area: floor;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  border: 2px solid;
  border-color: hsl(--clr-dark);
  background-color: hsl(43 12% 60%);
  /* $ {(props) => (props.elevator === "true" ? "187 13% 64%": "43 12% 60%")}
  );  */
}
.floorGrid {
  display: grid;
  gap: 1rem;
  align-items: center;
  grid-template-columns: minmax(1rem, 2rem) minmax(1rem, 12rem);
  grid-template-areas: "buttons floor";
  align-items: baseline;
}

.buttons {
  grid-area: buttons;
  display: flex;
  gap: 0.25rem;
  justify-items: end;
  flex-direction: column;
}
