.icon-button {
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.svg-icon > path {
  stroke: hsl(var(--clr-border));
  stroke-width: 2;
  stroke-opacity: 0.7;
}

[aria-pressed="true"] > .svg-icon {
  fill: hsl(var(--clr-contrast));
  cursor: auto;
}

[aria-pressed="false"] > .svg-icon:hover {
  fill: hsl(var(--clr-contrast) / 50%);
}
